/* General settings */

html, body {
    -moz-user-select: none;
    user-select: none;
	position: absolute;
	overflow: auto;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
    margin: 0px auto;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #653A71;
}

#list {
    margin: 0px auto;
    background-color: FFFFFF;
    width: 800px;
    height: 50%;
}

#list section {
    padding: 15px;
    display: block;
}

article {
    clear: both;
    display: block;
    border: 2px solid #653A71;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 15px;
}

article header, article section, article footer {
    display: block;
    margin: 8px;
}

article header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    font-variant: small-caps;
    font-size: 20px;
    background-color: #653A71;
    color: #D5BFDB;
    padding: 0px 10px 5px 10px;
    margin: 0;
    text-align: right;
}

article section {
    font-size: 11px;
}

article footer {
    color: #D5BFDB;
}